body {
  background: #6ad;
  margin: 0;
}

.enemy {
  background: url('../image/kracken.png') no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
}



#player {
  position: absolute;
  background: #f90;
  color: #fff;
  padding: 10px;
  background: url('../image/player.png') no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  bottom: 30px;
  left: 50%;
}

.row-one {
  top: 50px;
}

.row-two {
  top: 120px;
}

.row-three {
  top: 200px;
}

.column-one {
  left: 15%;
}

.column-two {
  left: 50%;
}

.column-three {
  left: 85%;
}